/* 
    You can write your own styles here...
*/
.item{
    list-style-type: none;
    border-top: 1px solid lightgray;
    display: flex;
    padding: 8px;
}
.input{
    border: none;
    width: 300px;
    height: 25px;
}
.input:focus {
    outline: none;
  }
.list{
    padding: 0;
    margin: 0;
}
.container{
    margin: auto;
    max-width: 400px;
    border: 1px solid black;
}
.button{
    margin-left: auto;
    margin-right: 5px;
    color: red;
    border: none;
    background: transparent;
    cursor: pointer;
    display: none; /* Oculta inicialmente el div */

}
.item:hover .button{
    display: block; /* Muestra el div al pasar el mouse */
}
